.panel.panel-default
  .panel-body
    = form_tag(new_hydra_attribute_path, method: 'GET', class: 'form-inline') do
      = label_tag 'entity_type', 'Select Entity Type:'
      .form-group
        = select_tag 'entity_type', options_for_select(HydraAttributesController::ENTITY_TYPES), class: 'form-control'
      = button_tag 'New Hydra Attribute', class: 'btn btn-default', name: nil