.col-md-12
  %ol.breadcrumb
    %li= link_to 'HydraAttributes', hydra_attributes_path
    %li.active= @hydra_attribute.name

.col-md-5
  = render 'info', hydra_attribute: @hydra_attribute

.col-md-7
  = render 'hydra_sets', hydra_attribute: @hydra_attribute, hydra_sets: @hydra_attribute.hydra_sets