.col-md-12
  %ol.breadcrumb
    %li= link_to 'HydraSets', hydra_sets_path
    %li.active= @hydra_set.name

.col-md-5
  = render 'info', hydra_set: @hydra_set

.col-md-7
  = render 'hydra_attributes', hydra_set: @hydra_set, hydra_attributes: @hydra_set.hydra_attributes